/************************** MAIN STYLING **************************************/
#background{
  background-color: #FCF141 !important;
  width: 90vw;
}
##main{
  width: 90% auto;
  padding: 0px;
}
header{
  height: 15vh;
  background-color: #FCF141 !important;
}
body{
  height: 15vh;
  background-color: #FCF141 !important;
}
footer{
  height: 3vh;
  width: 90vw;
  background-color: #FCF141 !important;
}
#navigation{
	height: 15vh;
	background-color: #ffffff;
	width: 100%;
	padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
	margin-left: 0px;
	border: none;
}
#homebutton{
  border: none;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-color: #333333;
	text-align: center;
  width: 50%;
}
#navSearch{
  margin-top:40px;
  padding-left:20px;
  width:40vw;
  align:right;
}
/*************************** TEXT STYLING *************************************/
#title{
  color: #333333;
	text-align: left;
	font-size: 6vh;
  font-family: 'Source Sans Pro', sans-serif;
}

#tagline{
  opacity: 0.5;
  color: #333333;
  padding-left: 45%;
  font-size: 2px;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-default{
  color: #333333;
	text-align: left;
	font-size: 6vh;
  font-family: 'Source Sans Pro', sans-serif;
}
#intro > h2{
  padding-top: 0px;
  font-size: 18px;
}
/********************************* HOME PAGE **********************************/
#home{
  padding-top: 15%;
  margin-left: 200px;
  width: 90vh;
}

/*search box*/
#search{
  padding-left: 0% !important;
  width:75vw;
}
#searchBox{
  width: 100vw !important;
  align-content: center;
}
#searchIcon{
  padding-left: 0px;
  background-color: none !important;
}
#searchIcon1{
  border: none;
  background-color: none !important;
}
#searchIcon2{
  border: none;
  padding-left: 0px;
  background-color: #fff !important;
}

/********** IMAGES ************/
#globePhoto{
  width: 55vw;
  height: 30vh;
  opacity: 0.6;
  padding-left: 35%;
  padding-top: 1%;
  padding-bottom: 10px;
}
#logo{
  width:100px;
  height:100px;
  align: left;
}
/********************************* RESULTS PAGE *******************************/
#twitterFeed{
  width:5vw;
  height: 100vw;
  align: right;
  background-color: #fff;
  padding: 0px;
  margin-left: 175px;
}
#resultsBodyPage{
  height: 80vh;
  width:100vw;
  padding: 0px;
  background-color: #fff !important;
}
#searchedAddress{
  height: 200px;
  width:50vw;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  padding-bottom: 0px;
}

#crimeReport{
  width:100%auto;
  height: 700px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#resources{
  height:200px;
  width:100%auto;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#leftside{
  width: 70%auto;
  height: 60vh;
  margin-left: 150px;
  padding-right: 0px;
  background-color: #fff !important;
}
#rightside{
  padding: 0px;
  height: 80vh;
  width:20%auto;
  background-color: #fff !important;
}
#resulttagline{
  text-align: center;
  color: #333333;
  font-size: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
}
#web{
  width:200px;
  height:200px;
}
